* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* Food Model Styling Starts */

.add_food_button_container {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

.add_food_btn {
  background: rgb(252, 210, 210);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.add_food_btn:hover {
  background: rgb(255, 82, 82);
}

.food_table {
  margin: 0 auto;
}

.food_table,
.food_heading,
.food_detail {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

.food_even {
  background: rgba(0, 0, 0, 0.2);
}

/* Recipe Model Styling Starts */

.recipes_container {
  padding: 40px 100px;
}

.recipe_details {
  display: grid;
  grid-template-columns: 120px auto;
  border: 2px solid black;
  padding: 20px;
}

.recipes_container .recipe_details:not(:first-child) {
  margin-top: 40px;
}

.remove_recipe_btn,
.recipe_heading {
  margin: 0 auto;
  padding-right: 10px;
}

.recipe_complete_details_container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.recipe_complete_details_container li:not(:first-child) {
  margin-top: 25px;
}

.recipe_details_buttons_container,
.recipe_details_head_container {
  display: flex;
  justify-content: space-between;
}
